<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Comunity</title>
  </head>
  <body>
    <div id="menu">
      <ul class="menu">
        <li>
          <ul id="users" class="menu">
            <% USERS.each do |user| %>
              <%= render :partial => 'menu_user', :locals => {:user => user} %>
            <% end %>
          </ul>
        </li>
        <li>
          <ul id="comments" class="menu">
            <% COMMENTS.each do |comment| %>
              <%= render :partial => 'menu_comment', :locals => {:comment => comment} %>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
    <div id="content">
      <div class="list">
        <ul>
          <% USERS.each do |user| %>
            <%= render :partial => 'user', :locals => {:user => user} %>
          <% end %>
        </ul>
      </div>
      <div class="list">
        <ul>
          <% COMMENTS.each do |comment| %>
            <%= render :partial => 'comment', :locals => {:comment => comment} %>
          <% end %>
        </ul>
      </div>
    </div>
  </body>
</html>